.page-header {
  padding: 8px 0;
  background-color: #fff;

  @media screen and (min-width: $bp__sm) {
    padding: 18px;
  }

  &.is-active {
    @include position(fixed, 0 0 null);
    z-index: 10;
    border-bottom: $head-foot-border;
  }
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}
