<section class="section section--acquainted">
	<div class="container">
		<h1 class="section__heading">Let's get acquainted</h1>
		<article class="post">
			<figure class="post__image">
				<img src="img/content/man-laptop-v1.svg" alt="beard man with laptop">
			</figure>
			<div class="post__content">
				<h2 class="post__title">I am cool frontend developer</h2>
				<div class="post__message">
					<p>We will evaluate how clean your approach to writing CSS and Javascript code is. You can use any CSS and Javascript 3rd party libraries without any restriction.</p>
					<p>If 3rd party css/javascript libraries are added to the project via bower/npm/yarn you will get bonus points. If you use any task runner (gulp/webpack) you will get bonus points as well. Slice service directory page PSD mockup into HTML5/CSS3.</p>
				</div>
				<div class="post__cta"><a href="#registerNow" class="button button--flat">Sing up now</a></div>
			</div>
		</article>
	</div>
</section>