<section class="section section--register">
	<div class="container">
		<h1 id="registerNow" class="section__heading">Register to get a work</h1>
		<p class="section__text">Attention! After successful registration and alert, update the list of users in the block from the top</p>
		<div class="form-wrapper">
			<form enctype="multipart/form-data" id="v-registerForm" class="form" @submit.prevent="submitForm">
				<div class="form__field" :class="{ invalid: !valid.name && name }">
					<label for="name">Name</label>
					<input id="name" type="text" placeholder="Your name" v-model="name" @blur="validateName">
					<div class="form__message">Username should contain 2-60 characters</div>
				</div>
				<div class="form__field" :class="{ invalid: !valid.email && email }">
					<label for="email">Email</label>
					<input id="email" type="email" placeholder="Your email" v-model="email" @blur="validateEmail">
					<div class="form__message">User email, must be a valid email according to RFC2822</div>
				</div>
				<div class="form__field form__phone" :class="{ invalid: !valid.phone && phone }">
					<label for="phone">Phone number</label>
					<input id="phone" type="text" placeholder="+380 XX XXX XX XX" v-model="phone" @blur="validatePhone">
					<div class="form__message">Number should start with code of Ukraine +380</div>
				</div>
				<div class="form__field">
					<p class="form__label">Select your position</p>
					<label v-for="{id, name} in positions" class="radio-label" :for="id">{{name}}
						<input type="radio" :id="id"
							   name="position_id" :value="id" v-model="pickedPosition">
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="form__field" :class="{ invalid: !valid.photo && photo }">
					<p class="form__label">Photo</p>
					<label class="form__photo" for="photo">
						<input id="photo" type="file" accept="image/*" @change="validatePhoto">
						<span class="form__file-custom"></span>
					</label>
					<div class="form__message">Only jpeg/jpg image formats are allowed. 70x70px minimum, 5Mb max</div>
				</div>
				<div class="form__field form__submit">
					<button :disabled="!valid.all" class="button button--primary" :class="{ 'button--disabled' : !valid.all}" type="submit">Sing up now</button>
				</div>
			</form>
		</div>
	</div>
</section>