</main>
<footer class="page-footer">
    <div class="container">
        <div class="copyright">&copy; abz.agency specially for the test task</div>
    </div>
</footer>

<div id="alert">
    <div class="overlay" :class=" {'overlay--is-open' : isOpen }">
        <div class="alert">
            <div class="alert__header">
                <div class="alert__text">Congratulations!</div>
                <div class="alert__close" @click = "hide">&#10799;</div>
            </div>
            <div class="alert__body">{{message}}</div>
            <div class="alert__footer">
                <button class="button button--primary alert__button" @click = "hide">Great</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>-->
<script src="js/bundle.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
