<h1>The quick brown fox jumps <br>over the lazy dog</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quia quibusdam quo? Aperiam aspernatur culpa dolorum excepturi expedita hic modi molestias, nobis nulla officiis optio quia quo reiciendis sit tempora totam voluptas voluptatibus. Amet aspernatur cumque doloremque ducimus id, iste laboriosam libero maiores neque possimus quibusdam sit vel voluptates? Eum.</p>
<p style="text-align: center;">
	<a href="#" class="button button--primary">Primary</a>
	<br>
	<button class="button button--disabled">Disabled</button>
</p>

<div class="usercard">
	<img class="usercard__img" src="http://via.placeholder.com/74" alt="">
	<p class="usercard__name">Noah</p>
	<div class="usercard__position">QA</div>
	<div class="usercard__contact">
		<a href="mailto:email@gmail.com" class="usercard__email">email@gmail.com</a>
	</div>
	<div class="usercard__contact">
		<a href="tel:+380 50 678 03" class="usercard__phone">+380 50 678 03 24</a>
	</div>
</div>

<div class="usercard">
	<img class="usercard__img" src="http://via.placeholder.com/74" alt="">
	<p class="usercard__name">Adolph Blaine Charles David Earl Metthew</p>
	<div class="usercard__position">Name of position in a couple of rows long</div>
	<div class="usercard__contact">
		<a href="mailto:longusernameemail@gmail.com" class="usercard__email">longusernameemail@gmail.com</a>
	</div>
	<div class="usercard__contact">
		<a href="tel:+380 50 678 03" class="usercard__phone">+380 50 678 03 24</a>
	</div>
</div>