<section id="users" class="section section--users">
	<div class="container">
		<h1 class="section__heading">Our cheerful users</h1>
		<p class="section__text">Attention! Sorting users by registration date</p>
		<div id="v-users">
			<div class="users-wrapper">
				<user-component v-for="user in users" :user="user" :key="user.id"/>
			</div>
			<div class="section__show-more">
				<button
					id="showMoreBtn"
					class="button button--primary"
					@click="showMore"
					:class="{hidden : lastUser}"
				>Show more</button>
			</div>
		</div>
	</div>
</section>