.container {
  margin: 0 auto;
  width: $container--initial;
  position: relative;
  @include grid-container();
  //@include grid-visual;

  @include grid-media($xs-grid) {
    width: $container--xs;
  }

  @include grid-media($sm-grid) {
    width: $container--sm;
  }

  @include grid-media($md-grid) {
    width: $container--md;
    //@include grid-visual;
  }

  @include grid-media($lg-grid) {
    width: $container--lg;
    //@include grid-visual;
  }
}

.grid-container {
  @include grid-container;
}

.grid-full-width {
  @include grid-column(6);

  @include grid-media($sm-grid) {
    @include grid-column(6);
  }

  @include grid-media($md-grid) {
    @include grid-column(12);
  }
}
